@import "tailwindcss";

/* In Tailwind v4 definieren wir eigene Farben direkt hier im CSS! */
@theme {
  --color-next-level-green: #A3C614;
}

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111827;
  }
}